body{
  list-style: none;
}
.gallery{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.gallery__block{
  margin: 20px;
}
.photo-card{
  width: 500px;
  height: 700px;
  border: black solid 1px;
}
.gallery__img{
  display: block;
  width: 100%;
  height: 500px;
}
.stats{
  padding-left: 10px;
}
.search-form{
  display:flex;
  margin-left: auto;
  margin-right: auto;
}

.search-form__input{
  padding: 30px;
  flex: 30px;
  font-size: 30px;
}
.search-form__btn{
  width: 200px;
}
.more-btn{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(203, 248, 233);
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  display:flex;
  margin-left: auto;
  margin-right: auto;
}